# Python
__pycache__/
.VSCodeCounter/
*.py[cod]
*.egg-info/
dist/
build/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

.claude/

# OS
.DS_Store
Thumbs.db

# Flask session / temp
cookies*.txt
*.json
instance/

# Environment
.env

# log
*.log
logs/
